/********************
*                   *
*   Slide d'images  *
*                   *
********************/

.rslides 
{
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.rslides li 
{
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  list-style: none;
}

.rslides li:first-child 
{
  position: relative;
  display: block;
  float: left;
}

.rslides img 
{
  display: block;
  float: left;
  width: 50%;
  height: auto;
  border: 0;
}