/********************
*                   *
*   Page d'accueil  *
*                   *
********************/


.col-md-6, .col-md-4
{
    border: 1px solid black;
}

.presentation
{
    text-align: justify;
    font-family: 'Kaushan Script', cursive;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 1px;
}

#map, #video_presentation 
{
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 0px;
    padding-left: 0px;

}

#menulist
{
    position: fixed;
    /*margin-left: 300px;
    z-index: 1000;*/
}

footer
{
    border: 1px solid black;
    margin-top: 10px;
}
