#menulist
{
    position: fixed;
    margin-left: 300px;
}

/*.presentation
{
    border: 1px solid green;
    text-align: justify;
    float: left;
    margin: auto;
    padding: auto;
}

.ggmap
{
    border: 1px solid red;
    text-align: justify;
    float: right;
    margin: auto;
    padding: auto;
}

.trucvide
{
    border: 1px solid blue;
    text-align: justify;
    float: right;
    margin: auto;
    padding: auto;
}*/


.col-md-6
{
    border: 1px solid red;
}
.col-md-4
{
    border: 1px solid blue;
}
